body{
    background-image: url('../SpecialityImage/background.png');
    background-size: cover;
}

.one{
    position: absolute;
    background-color: rgba(255, 49, 49, 1);
    height: 700px;
    border-radius: 50px;
    margin-left:35%;
    
    width: 500px;
    border: 3px solid black;
}

img{
    margin-left: 20%;
    justify-content: center;
    width: 300px;
}
.btn{
    background: linear-gradient(90deg, rgba(255, 49, 49, 1) 6%, rgba(255, 145, 77, 1) 89%);
    text-align: center;
    margin-left: 25%;
    border: 1px solid black;
    border-radius: 20px;
    width:250px;
}
h1{
    margin-top: 70px;
    text-align: center;
    text-decoration: underline;
}
h2{  
    font-size: 30px;
    margin-left: 2%;
    text-align: center;

}

.bck img{
    margin-left: 10px;
    margin: 0;
    margin-top: 5px;
    width: 50px;
}
