/* Add your CSS styles here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    background-position: contain;
    background-size: cover;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    height: 100vh;
}

.content {
    background: rgb(255,49,49);
    background: linear-gradient(90deg, rgba(255,49,49,1) 6%, rgba(255,145,77,1) 89%);
    padding: 20px;
    width: 40%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.box-container{
    width: 90%;
    border: 5px solid black;
    border-radius: 2rem;
    height: 90%;
    margin-top: 2rem;
    margin-left: 2rem;
}

.image img {
    max-width: 50%;
    height: auto;
    margin-top: 2rem;
}

.welcome {
    margin-top: 20px;
}
.welcome h1{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.login-form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
}

input[type="email"],
input[type="password"] {
    font-size: 1.2rem;
    width: 90%;
    padding: 15px;
    background-color: transparent;
    border-radius: 5px;
    box-sizing: border-box;
    color: black;
    border: 2px solid black;
}

.forgot-password {
    margin-top: 10px;
}

.forgot-password a {
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    margin-right: 65%;
}

.login-button {
    text-decoration: underline;
    color: black;
    position: absolute;
    margin-left: 5%;
    padding: 10px;
    font-size: 25px;
    height: 50px;
    width: 400px;
    background: rgb(255,49,49);
    border: 5px solid black;
    margin-top: 2rem;
}
a{
    color: black;
}

input[type="submit"] {
    width: 65%;
    padding: 15px 100px;
    background-color: orangered;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
    border: 3px solid black;
    border-radius: 5px;
    cursor: pointer;
    
}

