


body{
    background-attachment: fixed;
    background-image: url('../PastriesImages/Untitled design (3).png');
    background-size:cover;
}
.one{
    position: absolute;
    background-color: rgba(255, 49, 49, 1);
    height: 700px;
    border-radius: 50px;
    margin-left:35%;
    
    width: 500px;
    border: 4px solid black;
}

img{
    margin-left: 20%;
    justify-content: center;
    width: 250px;
}
.btn{
    margin-top: 95%;
    position: absolute;
    background: linear-gradient(90deg, rgba(255, 49, 49, 1) 6%, rgba(255, 145, 77, 1) 89%);
    text-align: center;
    margin-left: 25%;
    border: 1px solid black;
    border-radius: 20px;
    width:250px;
}
h1{
    margin-left: 3%;
    position: absolute;
    margin-top: 60px;
    text-align: center;
    text-decoration: underline;
}
h2{  
    margin-top: 80%;
    position: absolute;
    font-size: 30px;
    margin-left: 28%;
    text-align: center;

}
.one img{
    position: absolute;
    margin-left: 25%;
    width: 280px;
    position: absolute;
    margin-top: 25%;
}
.bck img{
    margin-left: 10px;
    margin: 0;
    margin-top: 5px;
    width: 50px;
}
