body{
    background: linear-gradient(90deg, rgba(255, 49, 49, 1) 6%, rgba(255, 145, 77, 1) 89%); 
    width: 90vw; 
    height: 90vh;
}

.grid-container1 {
    margin-top: 20px;
    width: 100%;
    display: flex;
    gap: 0;


}
.grid-container2 {
    display: flex;
    margin-top: 21.9%;
}


.whole{
    
    margin-top: 4%;
    width: 100%;

}


.grid-item1 {
    margin-left: 5px;
    margin-top: 1px;
    width: 45%; 
    height:35%;
    display: flex;
    position: absolute;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
}

.grid-item2 {
    margin-top: 1px;
    width: 48%; 
    height:35%;
    margin-left:47.4%;
    display: flex;
    position: absolute;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
}


h1{
    font-size: 50px;
    text-align: center;
    justify-content: center;
    text-decoration: underline;
}
img{
    position: absolute;
    justify-content: center;
    width:350px;
    margin-left: 15%;
}
.h2{
    color: black;
    font-size: 25px;
    justify-content: center;
    display: flex;
    margin-left: 55%;
    margin-top: 15%;
}
.h3{
    color: black;
    font-size: 25px;
    justify-content: center;
    display: flex;
    margin-left: 55%;
    margin-top: 15%;

}
.bck img{
    margin-left: 10px;
    margin: 0;
    margin-top: 5px;
    width: 50px;
}